:root {
    --primary-color: #034c7d;
    --secondary-color: #160043;
    --font-family: Times new roman, 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --text-color: #005932;
    --background-color: #c2bfbf;
}
body {background-color: var(--background-color); font-family: var(--font-family); line-height: 1.6; color: var(--text-color)}
a:hover {color: var(--primary-color); text-decoration: underline; }
a:visited {color: var(--secondary-color); }
h2 { color: var(--primary-color); border-bottom: 2px solid #ccc; padding-bottom: 5px; }
h1 {color: var(--secondary-color); font-size: 2.5em; margin-bottom: 10px; }
p {margin-bottom: 15px; color: var(--text-color); font-size: var(--font-size); }
.highlight {font-weight: bold; font-size: var(--font-size); color: #02310f; padding: 5px; border-radius: 3px; }
#main-title {font-size: 2em; color: var(--secondary-color); margin-bottom: 20px; }